@keyframes rotate-gradient {
  0% {
    background-position: -50% 0%;
  }
  50% {
    background-position: 300% 150%;
  }
  100% {
    background-position: -50% 0%;
  }
}

.rotate-bg {
  background-size: 300% 300%;
  animation: rotate-gradient 5s linear infinite;
}

.gradient-border-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
