@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/background.css';
@import './styles/loading.css';

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgba(var(--foreground-rgb), 0.76);
}
